*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out all;
  max-width: 100vw !important;
}

body {
  min-height: 100vh;
  background-color: rgba(255, 248, 248, 0.678);
}

footer {
  background-color: #404040;
  color: white;
}

.icon-color {
  color: white !important;
  font-size: 25px;
  transition: 0.3s ease-in-out all;
}

.icon-color:hover {
  color: black !important;
}

.navbar-color {
  background-color: #f84646;
}

.navbar-color > li {
  color: white !important;
  cursor: pointer;
}

.navbar-color > li:hover {
  color: #f84646 !important;
  background-color: white;
}

.btns-color {
  color: white !important;
  background-color: #404040;
  padding: 6px 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btns-color:hover {
  background-color: #404040;
}

.position-change > input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.social-icons {
  background-color: #f84646;
  border-radius: 7px;
}

.img-size {
  width: 160px;
  max-height: 170px;
}

.soc-1 {
  background-color: transparent !important;
}

li {
  cursor: pointer;
}

.event {
  cursor: pointer !important;
  transition: 0.4s ease-in-out all;
}

.event:hover {
  /* width:160px; */
  font-size: 1.3rem;
  /* border:1px solid red; */
  border-radius: 10px;
}

.border-dark {
  border-color: rgb(73, 73, 73) !important;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.test {
  max-height: 70vh;
  min-height: 70vh;
  z-index: -1;
}

.position-add-btn {
  top: 11rem;
  right: 1.7vw;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  color: #f84646;
  font-size: 1.5rem;
}

.check
{
  border:1px solid red !important;
}

.container-width-1
{
  width:35vw !important;
}
.input-width
{
  width:30vw !important;

}

.text-red
{
  color: red !important;
}

.text-size
{
  font: size 2rem !important;
}