main,
.Product-container,
.Product-Info
{
  display: flex;
}

main
{
  flex-direction: column;
}

.Product-container
{
  gap:3rem;
  font-weight: bold;
  align-items: center;
}

.Product-Info
{
  flex-direction: column;
  width:20rem;
  gap:10px;
}

.Product-Info>div
{
  display: flex;
  gap:10px;   
}

.img-size
{
  width:400px;
  max-height:400px;
}

.Product-Info__Quality
{
  display: flex;
  gap:10px;
}

.Product-Info__Quality>input
{
  text-align: center;
  width:4rem;
  border-radius:5px;
  border:1px solid black;
}

.input
{
  font-weight:normal;
}

.btn-buy
{
  padding:8px 2rem !important;
  border:none;
  border-radius: 7px;
  color:hsl(0,0%,100%);
  background-color: hsl(220,90%,50%);
  box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.329);
}

.btn-buy:hover
{
  background-color: hsl(220,90%,35%);
}

.price
{
   color: red;
   font-size:1.2rem;
}

.message
{
  background-color:white;
  box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.171);
}

.Title
{
  font-size:2.5rem;
}

.Title,
.Product-Details
{
  margin-top:3rem;
  margin-bottom:1rem;
  padding-left:3rem;
}

/*Responsive Design*/
@media screen and (max-width:801px)
{
  .img-size
  {
    width:300px;
    max-height:350px;    
  }

  .Product-container
  {
    gap:2rem;
  }

  .Product-Info
  {
    width:17rem;
  }

  .Product-Info>div
  {
    font-size:14px;
    gap:5px;
  }

}

@media screen and (max-width:623px)
{
  .img-size
  {
    width:250px;
    height:250px;
  }

  .Product-Info>div
  {
    font-size:13px;
    gap:10px;
  }

  .Product-Info
  {
    width:15rem;
  }

  .price
  {
    font-size:1rem;
  }
}

@media screen and (max-width:538px)
{
  .Product-container
  {
    gap:1.5rem;
  }

  .img-size
  {
    width:200px;
    height:200px;
  }

  .btn-buy
  {
    padding-top:3px;
    padding-bottom:3px;
    margin:5px auto;
    width:5rem;
    font-size:14px;
  }

  .Title
  {
    font-size:2rem;
    padding-left:1rem;
  }

  .Product-Details
  {
    margin-top:1rem;
    margin-bottom:1rem;
    padding-left:1rem;
    width:27rem;
  }
}

@media screen and (max-width:490px)
{
  .Product-container
  {
    gap:1rem;
  }

  .Product-Info
  {
    width:13rem;
  }

}

@media screen and (max-width:441px)
{
  .img-size
  {
    width:180px;
    height:180px;
  }

  .Product-container
  {
    gap:14px;
    justify-content: center;
  }

  .Product-Info
  {
    gap:5px;
  }

}

@media screen and (max-width:437px)
{
  .Title
  {
    font-size:2rem;
    text-align:center;
  }

  .img-size
  {
    width:160px;
    max-height:160px;
  }
  
  .Product-Info
  {
    width:12rem;
  }
  
  .Product-Info>div
  {
    font-size:10px;
    gap:5px;
  }
  
  .btn-buy
  {
    padding-top:2px;
    padding-bottom:2px;
    width:3.5rem;
    font-size:12px;
  }
  
}

@media screen and (max-width:417px)
{
  .Product-Details
  {
    width:22rem;
  }
}

@media screen and (max-width:369px)
{
  .img-size
  {
    width:140px;
    max-height:140px;
  }
  
  .price
  {
    font-size:13px;
  }

  .Product-Info
  {
    gap:2px;
  }
  
  .Product-Info
  {
    width:9rem;  
  }

  .Product-Details
  {
    width:19rem;
  }
  .Product-Details>h3
  {
    font-size:1.2rem;
  }
  .Product-Details>p
  {
    font-size:12px;
  }
}


@media screen and (max-width:313px)
{
  .Product-Info__Quality>input
  {
    width:2rem;
  }
  
}